@import "../includes";
@import "../base/typography";


// Local variables & mixins
$vsui-btn-bdr-width: 2px;

@mixin input-styles() {
  padding-top: .25rem;
  padding-bottom: .25rem;
  border-width: $vsui-btn-bdr-width;
}
@mixin input-padd-vert() {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
@mixin list-group-item() {
  position: relative;
  padding-top: .55rem;
  padding-bottom: .55rem;
  border-width: $vsui-btn-bdr-width;
  margin-bottom: $vsui-btn-bdr-width * -1;
}

// Buttons
$buttons-settings: (
  md: (
    height: 36px,
    padding-v: .2rem,
    padding-h: 1rem
  ),
  sm: (
    height: 30px,
    padding-v: .2rem,
    padding-h: 1rem
  ),
  lg: (
    height: 48px,
    padding-v: .1rem,
    padding-h: 1.2rem
  )
);
.btn {
  box-sizing: border-box;
  border: solid $vsui-btn-bdr-width transparent;

  @each $btn-key, $btn-value in $buttons-settings {
    @if $btn-key == 'md' {
      height: map-get($btn-value, 'height');
      border-radius: calc(#{map-get($btn-value, 'height')} / 2);
      padding: map-get($btn-value, 'padding-v') map-get($btn-value, 'padding-h');
      line-height: calc(#{map-get($btn-value, 'height')} - (#{$vsui-btn-bdr-width} * 2) - (#{map-get($btn-value, 'padding-v')} * 2));
    } @else {
      &.btn-#{$btn-key} {
        height: map-get($btn-value, 'height');
        border-radius: calc(#{map-get($btn-value, 'height')} / 2);
        padding: map-get($btn-value, 'padding-v') map-get($btn-value, 'padding-h');
        line-height: calc(#{map-get($btn-value, 'height')} - (#{$vsui-btn-bdr-width} * 2) - (#{map-get($btn-value, 'padding-v')} * 2));
      }
    }
  }

  // Focused, clear the old style
  &:focus {
    outline: none;
    box-shadow: none !important;

    &:not(.btn-link) {
      border-color: map-deep-get($status-color, 'focus', 'main');

      &:active {
        border-color: map-deep-get($status-color, 'focus', 'main');
      }
    }
  }

  // Normal (not outline)
  @each $key, $value in $main-color {
    &.btn-#{$key}:not([class*="btn-outline"]) {
      background-color: map-get($value, 'main');
      color: map-get($value, 'text');

      &:not(:disabled):not(.disabled):not(:focus):hover {
        border-color: transparent;
      }

      &:not(:disabled):not(.disabled):active {
        background-color: map-get($value, 'active');
        color: map-get($value, 'text');
        border-color: map-deep-get($status-color, 'focus', 'main');
      }
    }

    &.btn-outline-#{$key} {
      background-color: transparent;
      border-color: map-get($value, 'main');

      @if $key == 'secondary' {
        color: map-get($value, 'text');
      } @else {
        color: map-get($value, 'main');
      }

      &:not(:focus):active {
        border-color: map-get($value, 'active');
      }

      &:not(:disabled):not(.disabled):active {
        background-color: map-get($value, 'active');
        color: map-get($value, 'text');
        border-color: map-get($value, 'active');
      }

      &:focus {
        border-color: map-deep-get($status-color, 'focus', 'main');
        background-color: map-get($value, 'active');
        color: map-get($value, 'text');
      }
    }
  }

  // Link style
  &.btn-link {
    &:active {
      color: map-deep-get($status-color, 'active', 'main');
    }
  }

  // Disabled styles
  &:disabled, &.disabled {
    &.btn-link {
      color: map-deep-get($status-color, 'disabled', 'text');
      background-color: transparent;
      border-color: transparent;
    }
    &:not(.btn-link) {
      &:not([class*="btn-outline"]) {
        background-color: map-deep-get($status-color, 'disabled', 'main');
        color: map-deep-get($status-color, 'disabled', 'text');
        border-color: transparent;
      }
      &[class*="btn-outline"] {
        border-color: map-deep-get($status-color, 'disabled', 'main');
        color: map-deep-get($status-color, 'disabled', 'text');
      }
    }
  }
}

// Button Toolbar
.btn-group, .btn-group-vertical {
  .btn, .btn-group {
    & + .btn, & + .btn-group {
      margin-left: 0;
      margin-top: 0;
    }
  }
}
.btn-toolbar {
  .btn {
    padding-left: .70rem;
    padding-right: .70rem;
    min-width: 36px;
  }
  .btn:not(:only-child):last-child {
    padding-right: 1rem;
  }
  .btn:not(:only-child):first-child {
    padding-left: 1rem;
  }
}

// Alert
@mixin alert-init() {
  opacity: 0;
  transform: scale(.98);
}
@mixin alert-displayed() {
  opacity: 1;
  transform: scale(1);
}
@keyframes alert-show {
  0% {
    @include alert-init();
  }
  100% {
    @include alert-displayed();
  }
}
@keyframes alert-hide {
  0% {
    @include alert-displayed();
  }
  100% {
    @include alert-init();
  }
}
.alert {
  border-radius: 4px;
  will-change: transform;
  transform-origin: 50% 50%;
  @include alert-init();
  animation: alert-show 150ms $dec-anim .05s forwards;

  &.fade {
    animation: none;
  }

  &.closing {
    @include alert-displayed();
    animation: alert-hide 150ms $dec-anim forwards;
  }

  .close {
    &:focus {
      outline: none;
    }
  }

  .close-alert {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    opacity: .6;
    will-change: opacity;

    &:focus {
      outline: none;
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      will-change: transform;
      width: 16px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px;
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotateZ(45deg);
    }
    &:after {
      transform: rotateZ(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}

// Badge
.badge {
  border-radius: 30px;
  padding-left: .7em;
  padding-right: .7em;
  font-weight: 500;
}
.btn .badge {
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 5px;
  margin-right: -2px;
  transform: translate3d(2px, -1px, 0);
}

// Breadcrumb
.breadcrumb {
  background-color: transparent;
  padding: 0;

  .breadcrumb-item {
    position: relative;
    padding: .5em .7em;
  }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 1.2em;

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 8px;
      height: 2px;
      margin-top: 0;
      background-color: #8a8a8a;
      transform-origin: 100% 50%;
      will-change: transform;
      padding: 0;
    }
    &:before {
      margin-top: -1px;
      transform: rotateZ(-45deg);
    }
    &:after {
      transform: rotateZ(45deg);
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

// Card
.card {
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .35);

  .card-header, .card-footer {
    border: none;
    background-color: transparent;
    color: #787878;
  }
}
.col .card {
  max-width: 100%;
  width: auto;
  margin-bottom: 1rem;
}

// Dropdown
.dropdown-menu {
  border: none;
  box-shadow: 0 4px 13px rgba(0,0,0,.2);
}

// Loop throught color
@each $key, $value in $main-color {
  // -- Button dropdown
  .show > .btn-#{$key}.dropdown-toggle {
    border-color: map-deep-get($status-color, 'active', 'main');
  }

  // -- Alert
  .alert-#{$key} {
    background-color: map-get($value, 'main');
    color: map-get($value, 'text');
    border-color: transparent;

    .close-alert {
      &:before, &:after {
        background-color: map-get($value, 'text');
      }
    }
  }

  // -- Badges
  .badge-#{$key} {
    background-color: map-get($value, 'main');
    color: map-get($value, 'text');

    &[href] {
      &:hover {
        background-color: map-get($value, 'hover');
        color: map-get($value, 'text');
      }
      &:active {
        background-color: map-get($value, 'active');
        color: map-get($value, 'text');
      }
    }
  }
}

// -- Large screen
@include media(">=lg") {
  // Buttons
  .btn {
    @each $key, $value in $main-color {
      &.btn-#{$key}:not([class*="btn-outline"]) {
        &:not(:disabled):not(.disabled):hover {
          background-color: map-get($value, 'hover');
          color: map-get($value, 'text');
        }
        &:not(:disabled):not(.disabled):active {
          background-color: map-get($value, 'active');
          color: map-get($value, 'text');
        }
      }

      &.btn-outline-#{$key} {
        border-color: map-get($value, 'main');

        @if $key == 'secondary' {
          color: map-get($value, 'text');
        } @else {
          color: map-get($value, 'main');
        }

        &:not(:disabled):not(.disabled):focus {
          color: map-get($value, 'text');
          // @if $key == 'secondary' {
          //   color: map-get($value, 'text');
          // } @else {
          //   color: map-get($value, 'main');
          // }
        }

        &:not(:disabled):not(.disabled):not(.active):hover {
          background-color: map-get($value, 'hover');
          color: map-get($value, 'text');
          border-color: map-get($value, 'hover');
        }

        &:not(:disabled):not(.disabled):active {
          background-color: map-get($value, 'active');
          color: map-get($value, 'text');
          border-color: map-get($value, 'active');
        }

        &:focus {
          border-color: map-deep-get($status-color, 'focus', 'main');
          background-color: map-get($value, 'active');
        }
        &:focus:hover {
          border-color: map-deep-get($status-color, 'focus', 'main');
        }
      }
    }

    &.btn-link {
      &:not(:disabled):not(.disabled):hover {
        color: map-deep-get($status-color, 'active', 'main');
      }
    }
  }

  // Button Toolbar
  .btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
    z-index: -1;
  }
  .btn-toolbar, .btn-group {
    .btn {
      &:not(:focus):not(:active):hover {
        border-color: transparent;
        z-index: 0;
      }
    }
  }

  // Alert
  .alert .close-alert {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}


// Form
.custom-select {
  &:focus {
    box-shadow: none;
    border-color: map-deep-get($status-color, 'focus', 'main');
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
.custom-file {
  height: auto;

  .custom-file-input {
    height: 36px;

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }
  .custom-file-label {
    height: auto;
    margin-bottom: auto;
    @include input-styles();

    &:after {
      height: auto;
      @include input-styles();
    }
  }
}

input:not([type="button"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]),
select, textarea {
  &.form-control {
    border-color: $input-border-color;
    border-width: $vsui-btn-bdr-width;
    @include input-styles();

    &:focus {
      border-color: map-deep-get($status-color, 'focus', 'main');
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}

// Input group
.input-group {
  .input-group-text, select, input[type="file"] {
    border-color: $input-border-color;
    @include input-styles();
  }
  select {
    height: auto;

    &.custom-select {
      height: auto;
    }
  }
  .input-group-prepend {
    margin-right: $vsui-btn-bdr-width * -1;

    .btn:first-child {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }
  }
  .input-group-append {
    margin-left: $vsui-btn-bdr-width * -1;

    .btn:last-child, .btn:last-of-type {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }
  }

  .input-group-prepend, .input-group-append {
    .input-group-text + .input-group-text,
    .btn + .btn {
      margin-left: $vsui-btn-bdr-width * -1;
    }
  }

  & > .form-control + .form-control {
    margin-left: $vsui-btn-bdr-width * -1;
  }

  .btn[class*="btn-outline-"] {
    border-color: $input-border-color;

    &:not(:disabled):not(.disabled) {
      &:hover {
        border-color: $input-border-color;
      }
      &:focus {
        border-color: map-deep-get($status-color, 'focus', 'main');
        position: relative;
        z-index: 10;
      }
    }
  }
}

// List Group
.list-group-item {
  @include list-group-item();

  &.list-group-item-action {
    will-change: border-color, background-color;
    transition: border-color 175ms $dec-anim,
      background-color 185ms $dec-anim;

    &:not(.disabled):not(:disabled) {
      cursor: pointer;

      &:hover {
        z-index: 2;
      }
    }
  }
  &.disabled, &:disabled {
    color: map-deep-get($status-color, 'disabled', 'text');
    cursor: default;
  }
  &.active {

    z-index: 4;
  }
  &:focus {
    z-index: 3;
    outline: none;
    border-color: map-deep-get($status-color, 'focus', 'main');
  }
}


// Modal
.modal {
  background-color: rgba(0,0,0,.5);

  .modal-content {
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
  }

  &.fade {
    transition-duration: 150ms;
    transition-timing-function: $dec-anim;
  }

  &.fade .modal-dialog, .modal-dialog {
    will-change: opacity, transform;
    transition: transform 170ms $dec-anim;
    transform: scale(.93);
  }
  &.fade .modal-dialog-full-screen, .modal-dialog-full-screen {
    transform: scale(.98);
  }

  &.show {
    .modal-dialog {
      transform: scale(1);
    }
  }

  .modal-dialog {
    &-full-screen, &-expanded {
      position: relative;
      margin: 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: center;

      .modal-content {
        flex: 1 0 auto;

        .modal-body {
          overflow: hidden;
          overflow-y: auto;
        }
      }
    }
    &-full-screen {
      .modal-content {
        border-radius: 0;
      }
    }
    &-expanded {
      top: 1rem;
      left: 1rem;
    }
  }
}
.modal-header {
  padding: .75rem 1rem;
  border-bottom: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  word-wrap: normal;

  .modal-title {
    flex: 1 1 auto;
    align-self: stretch;

    font: {
      size: 1.1rem;
    }
    color: map-get($gray-color, 50);
  }

  .modal-min-max {
    display: block;
    flex: 0 1 auto;
    align-self: stretch;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
  }
  .close {
    position: relative;
    flex: 0 1 auto;
    align-self: stretch;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    transform: translateX(6px);

    &:focus {
      outline: none;
    }

    [aria-hidden="true"] {
      display: none;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      background-color: map-get($gray-color, 40);
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }

    &:hover {
      &:before, &:after {
        background-color: map-get($gray-color, 75);
      }
    }
  }
}
.modal-backdrop {
  & + .modal {
    background-color: transparent;
  }
}

@include media(">=sm") {
  .modal-dialog {
    &-expanded {
      margin: 0;
      max-width: calc(100% - (1rem * 2));
      min-height: calc(100% - (1rem * 2));
    }
    &-full-screen {
      margin: 0;
      max-width: initial;
      min-height: 100%;
    }
  }
}
