@import "../includes";
@import "bs-theme";

sidenav nav {
  background-color: #263238;
  color: #fff;

  a {
    color: rgba(255,255,255,.6);

    &:hover, &:active {
      color: #fff;
      text-decoration: none;
    }
    
    &.router-link-active {
      color: #fff;
      font-weight: 600;
    }
  }
}
.floating-sidenav-toggle {
  border-radius: 50%;
  background-color: #263238;
  color: #fff;
  cursor: pointer;
}
.collapse-sidenav-toggle {
  color: #fff;
}

@include media(">=lg") {
  .collapse-sidenav-toggle {
    &:hover {
      cursor: pointer;
      background-color: rgba(255,255,255,.3);
    }
  }
}
