@import "../includes";

.guideline-link-menu {
  a.dropdown-item {
    color: map-get($gray-color, 80);

    &.guideline-link-active {
      color: map-deep-get($status-color, 'active', 'main');
      cursor: default;
      font-weight: 600;
    }

    &:active {
      color: #fff;
    }
  }
}


// Colors
.color-palette-wrappers {
  .color-palette-item {
    width: 100%;
    padding: 16px;

    .color-palette-inner {
      background-color: #fff;

      .color-box {
        width: 100%;
        height: 80px;
        position: relative;

        .color-code {
          position: absolute;
          top: 50%;
          left: 50%;
          width: auto;
          max-width: 100%;
          text-align: center;
          transform: translate3d(-50%, -50%, 0);
        }

        @each $key, $value in $main-color {
          &.#{$key} {
            background-color: map-get($value, 'main');

            .color-code {
              color: map-get($value, 'text');
            }
          }
        }

        @each $key, $value in $status-color {
          &.sts-#{$key} {
            background-color: map-get($value, 'main');

            .color-code {
              color: map-get($value, 'text');
            }
          }
        }
      }

      .color-name {
        display: block;
        text-align: center;
        margin-top: 5px;
        text-transform: capitalize;
      }
    }
  }
}

@include media(">=lg") {
  .guideline-link-menu {
    a.dropdown-item {
      cursor: pointer;
    }
  }
}