<nav #navElement>
  <div class="sidenav-header">

  </div>
  <div class="sidenav-body">
    <a class="p-2 d-block" [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2 d-block" [routerLink]="['/guideline']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Guideline</a>
  </div>
</nav>
<div class="overlay" sidenav-toggle></div>
<span class="floating-sidenav-toggle" sidenav-toggle>
  <i class="material-icons">menu</i>
</span>
