<div class="row">
  <div class="col col-12 col-md-10 col-lg-8">
    <div class="alert alert-primary" role="alert">
      This is a primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
      This is a secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
      This is a success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
      This is a danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
      This is a warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
      This is a info alert—check it out!
    </div>
    
    <h3 class="heading-text mt-5">Link Color</h3>
    <div class="mt-2">
      <div class="alert alert-primary" role="alert">
        This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <div class="alert alert-secondary" role="alert">
        This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <div class="alert alert-success" role="alert">
        This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <div class="alert alert-danger" role="alert">
        This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <div class="alert alert-warning" role="alert">
        This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <div class="alert alert-info" role="alert">
        This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
    </div>
    
    <h3 class="heading-text mt-5">Additional Content</h3>
    <div class="mt-2">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
    </div>
    
    <h3 class="heading-text mt-5">Dismissable</h3>
    <div class="mt-2">
      <div class="alert alert-warning alert-dismissible fade show" role="alert"
        *ngIf="displayCustomAlert"
        (alertClosed)="displayCustomAlert = false;">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <button type="button" class="btn btn-secondary" (click)="displayCustomAlert = true;"
        *ngIf="!displayCustomAlert">Show dismissable alert again</button>
    </div>

    <h3 class="heading-text mt-5">Display from event</h3>
    <div class="mt-2">
      <div class="alert alert-primary" role="alert" *ngIf="_showCustom">
        This is custom alert displayed from event
      </div>
      <button type="button" class="btn" (click)="showCustomAlert()">Click to display</button>
    </div>    
  </div>
</div>
