@import "../abstracts/variables";

@mixin heading-text() {
  font-family: $heading-font;
  font-weight: 600;
}
@mixin base-heading-text() {
  font-family: $base-font;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .heading-text {
  @include heading-text();
}