@import "functions";

$gray-color: (
  80: #333333,
  75: #404040,
  60: #666666,
  50: #7f7f7f,
  40: #999999,
  28: #b8b8b8,
  17: #d4d4d4,
  9: #e8e8e8,
  4: #f5f5f5
);

// Main Colors
$main-color: (
  primary: (
    main: #7e66ff,
    text: #fff,
    hover: #735ee4,
    active: #604dc8
  ),
  secondary: (
    main: #f1f1f1,
    text: map-get($gray-color, 80),
    hover: #e5e5e5,
    active: #d7cbcb
  ),
  danger: (
    main: #f93636,
    text: #fff,
    hover: #ed2f2f,
    active: #db2727
  ),
  success: (
    main: #40b748,
    text: #fff,
    hover: #3aa841,
    active: #378e3d
  ),
  warning: (
    main: #ffec47,
    text: map-get($gray-color, 80),
    hover: #ecd935,
    active: #edb92e
  ),
  info: (
    main: #c4ceff,
    text: #4e63c4,
    hover: #b8c1f1,
    active: #a3acde
  )
);

$status-color: (
  focus: (
    main: #3f5ae5,
    text: #fff
  ),
  active: (
    main: #2b48d8,
    text: #fff
  ),
  disabled: (
    main: map-get($gray-color, 17),
    text: map-get($gray-color, 40)
  )
);

$mc-primary: map-deep-get($main-color, 'primary', 'main');
$mc-secondary: map-deep-get($main-color, 'secondary', 'main');
$mc-danger: map-deep-get($main-color, 'danger', 'main');
$mc-success: map-deep-get($main-color, 'success', 'main');
$mc-warning: map-deep-get($main-color, 'warning', 'main');

$input-border-color: #bbb;
