$base-font: 'Roboto';
$heading-font: 'Montserrat', sans-serif;

$std-anim: cubic-bezier(0.4, 0.0, 0.2, 1);
$dec-anim: cubic-bezier(0.0, 0.0, 0.2, 1);
$acc-anim: cubic-bezier(0.4, 0.0, 1, 1);
$shp-anim: cubic-bezier(0.4, 0.0, 0.6, 1);

$sidenav-width: 230px;
$sidenav-collapse-width: 60px;
$sidenav-header-height: 44px;
$floating-sidenav-btn-size: 40px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
