<div class="loader-box">
  <div class="spinner">
    <!-- All controlled via CSS -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1" width="48px" height="48px" viewBox="0 0 28 28">
      <g class="qp-circular-loader">
        <path class="qp-circular-loader-path" fill="none" d="M 14,1.5 A 12.5,12.5 0 1 1 1.5,14" stroke-linecap="round" />
      </g>
    </svg>
  </div>
</div>
