<h4><u>Colors</u></h4>
<div class="color-palette-wrappers">
  <div class="row">
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
      *ngFor="let color of mainColorList">
      <div class="color-palette-item">
        <div class="color-palette-inner">
          <div class="color-box {{ color }}" color-code-box></div>
          <div class="color-name">{{ color }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4"><u>Status</u></h4>
<div class="color-palette-wrappers">
  <div class="row">
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
      *ngFor="let color of statusColorList">
      <div class="color-palette-item">
        <div class="color-palette-inner">
          <div class="color-box sts-{{ color.name }}" color-code-box></div>
          <div class="color-name">{{ color.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
