<h3>List Group</h3>
<div class="row">
  <div class="col col-sm-12 col-md-8 col-lg-6">
    <ul class="list-group">
      <li class="list-group-item active">I'm a front-end developer</li>
      <li class="list-group-item">I'm a backend developer</li>
      <li class="list-group-item">I'm a full-stack developer</li>
      <li class="list-group-item">I'm a DevOps engineer</li>
      <li class="list-group-item disabled">I'm a system analyst</li>
    </ul>
  </div>
</div>

<h3 class="mt-5">Links and buttons</h3>
<div class="row">
  <div class="col col-sm-12 col-md-8 col-lg-6">
    <p>This is an anchor tag version (using &lt;a&gt;)</p>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
    </div>

    <p class="mt-4">And this is the button version (using &lt;button&gt;)</p>
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action active">
        Cras justo odio
      </button>
      <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
    </div>
  </div>
</div>

<h3 class="mt-5">Flush style</h3>
<p>Simple but stylish!</p>
<div class="row">
  <div class="col col-sm-12 col-md-8 col-lg-6">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>

<h3 class="mt-5">Contextual (with links)</h3>
<div class="row">
  <div class="col col-sm-12 col-md-8 col-lg-6">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-primary">This is a primary list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>
    </div>
  </div>
</div>

<h3 class="mt-5">Custom content</h3>
<div class="row">
  <div class="col col-sm-12 col-md-8 col-lg-6">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
    </div>
  </div>
</div>

<p class="mt-4">
  That's it for list group styling. I won't talk about Javascript behavior section because it's only the style changing so it should work properly if you follow the Bootstrap 4 official documentation.
</p>
