@import "../../includes";


.snack-bar {
	position: fixed;
	z-index: 5003;
	width: auto;
	min-width: 320px;
	height: auto;
	padding: 15px 50px 15px 30px;
	bottom: 0;
	left: 50%;
	transition: all 250ms $dec-anim;
	transform: translate3d(-50%, 100%, 0);
	font-size: 14px;

	&.displayed {
		transform: translate3d(-50%, 0, 0);
	}

	&.normal {
		background-color: rgba(0, 0, 0, 0.870588);
		color: #fff;
	}
	&.error {
		background-color: #E53935;
		color: #fff;
	}
	&.warning {
		background-color: #FF5722;
		color: #fff;
	}
	&.success {
		background-color: #558B2F;
		color: #fff;
	}

	.type-icon {
		vertical-align: middle;
		transform: translateY(-2px);
		margin-right: 7px;
	}

	.close-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		cursor: pointer;
		@include clearfix();
		opacity: .5;
		
		i {
			float: left;
			width: 24px;
			height: 24px;
			text-align: center;
			line-height: 24px;
		}

		&:hover {
			opacity: 1;
		}
	}
}