@import "../../includes";

$toggle-height: 22px;
$togl-chkbox-anim-time: 2s;
$toggle-switch-anim-time: 150ms;

@mixin togl-chkbox-first-start() {
  transform: rotateZ(47deg) scaleZ(0);
}
@mixin togl-chkbox-first-stop() {
  transform: rotateZ(47deg) scaleZ(1);
}
@mixin togl-chkbox-second-start() {
  transform: rotateZ(-50deg) scaleZ(0);
}
@mixin togl-chkbox-second-stop() {
  transform: rotateZ(-50deg) scaleZ(1);
}

@keyframes togl-chkbox-first-anim {
  0% {
    @include togl-chkbox-first-start();
  }
  100% {
    @include togl-chkbox-first-stop();
  }
}

@keyframes togl-chkbox-second-anim {
  0% {
    @include togl-chkbox-second-start();
  }
  100% {
    @include togl-chkbox-second-stop();
  }
}

.toggle-box {
  position: relative;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  .toggle-elem {
    position: absolute;
    opacity: 0;
    z-index: 1;
    margin-left: 0;
    top: 0;
    left: 0;
  }

  .form-check-label {
    flex: 0 0 auto;
  }

  .toggle-helper {
    position: relative;
    display: inline-block;
    width: $toggle-height;
    height: $toggle-height;
    z-index: 2;
    flex: 0 0 $toggle-height;

    & + .form-check-label {
      max-width: calc(100% - #{$toggle-height});
      width: auto;
      line-height: 1.2;
      padding-top: 1px;
      padding-left: 4px;
    }
  }

  // checkbox
  &.toggle-checkbox {
    .toggle-helper {
      will-change: border-color, background-color;
      transition: border-color 300ms $dec-anim,
        background-color 300ms $dec-anim;
      border-radius: 3px;
      border: solid 2px $input-border-color;
      max-width: $toggle-height;
      max-height: $toggle-height;
      overflow: hidden;
      cursor: pointer;

      svg {
        position: relative;
        z-index: 2;
        transform: translate3d(0, 0, 0);
      }
      svg path {
        will-change: opacity;
        transition: opacity 200ms $dec-anim;
        fill: transparent;
      }

      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-origin: 50% 50%;
        will-change: background-color, transform, opacity, border-radius;
        transition: background-color 100ms $dec-anim,
          transform 100ms $dec-anim,
          opacity 100ms $dec-anim,
          border-radius 100ms $dec-anim;

        border-radius: 50%;
        background-color: transparent;
        transform: scale(0);
      }
    }

    // hover
    .toggle-elem:not(:disabled):not(.disabled):not(:checked) {
      & + .toggle-helper:hover {
        background-color: map-get($gray-color, 4);
      }
      &:focus + .toggle-helper {
        background-color: map-get($gray-color, 4);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }

    // focus
    .toggle-elem:focus + .toggle-helper {
      border-color: map-deep-get($status-color, 'focus', 'main');
    }

    // disabled
    .toggle-elem:disabled, .toggle-elem.disabled {
      & + .toggle-helper {
        cursor: default;
        border-color: map-deep-get($status-color, 'disabled', 'main');

        & + label {
          color: map-deep-get($status-color, 'disabled', 'text');
        }
      }
    }

    // checked
    .toggle-elem:checked {
      & + .toggle-helper {
        border-color: map-deep-get($main-color, 'success', 'main');

        &:after {
          border-radius: 0;
          background-color: map-deep-get($main-color, 'success', 'main');
          transform: scale(1);
        }

        svg path {
          opacity: 1;
          fill: map-deep-get($main-color, 'success', 'text');
        }
      }

      &:focus + .toggle-helper {
        border-color: map-deep-get($status-color, 'focus', 'main');
        // background-color: map-deep-get($status-color, 'focus', 'main');

        &:after {
          background-color: map-deep-get($status-color, 'focus', 'main');
        }
      }

      &:disabled, &.disabled {
        & + .toggle-helper {
          border-color: map-deep-get($status-color, 'disabled', 'main');

          &:after {
            background-color: map-deep-get($status-color, 'disabled', 'main');
          }
        }
      }
    }
    &.disabled .toggle-elem + .toggle-helper {
      border-color: map-deep-get($status-color, 'disabled', 'main');

      &:after {
        background-color: map-deep-get($status-color, 'disabled', 'main');
      }
    }
  }

  // radio
  &.toggle-radio {
    .toggle-helper {
      will-change: border-color, background-color;
      transition: border-color 300ms $dec-anim,
        background-color 300ms $dec-anim;
      border-radius: 50%;
      border: solid 2px $input-border-color;
      max-width: $toggle-height;
      max-height: $toggle-height;
      overflow: hidden;
      cursor: pointer;

      &:after {
        position: absolute;
        content: "";
        display: block;
        width: calc(#{$toggle-height} - 10px);
        height: calc(#{$toggle-height} - 10px);
        top: 50%;
        left: 50%;
        margin-left: calc((#{$toggle-height} - 10px)/-2);
        margin-top: calc((#{$toggle-height} - 10px)/-2);
        border-radius: 50%;
        transform-origin: 50% 50%;
        will-change: background-color, transform, opacity;
        transition: background-color 100ms $dec-anim,
          transform 100ms $dec-anim,
          opacity 100ms $dec-anim;

        background-color: transparent;
        transform: scale(0);
      }
    }

    .toggle-elem:not(:disabled):not(.disabled) {
      & + .toggle-helper:hover {
        background-color: map-get($gray-color, 4);
      }
      &:focus + .toggle-helper {
        background-color: map-get($gray-color, 4);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }

    // focus
    .toggle-elem:focus + .toggle-helper {
      border-color: map-deep-get($status-color, 'focus', 'main');
    }

    // disabled
    &.disabled .toggle-elem, .toggle-elem:disabled, .toggle-elem.disabled {
      & + .toggle-helper {
        cursor: default;
        border-color: map-deep-get($status-color, 'disabled', 'main');

        & + label {
          color: map-deep-get($status-color, 'disabled', 'text');
        }
      }
    }
    &.disabled .toggle-elem + .toggle-helper {
      border-color: map-deep-get($status-color, 'disabled', 'main');

      &:after {
        background-color: map-deep-get($status-color, 'disabled', 'main');
      }
    }

    // checked
    .toggle-elem:checked {
      & + .toggle-helper {
        border-color: map-deep-get($main-color, 'success', 'main');

        &:after {
          background-color: map-deep-get($main-color, 'success', 'main');
          transform: scale(1);
        }
      }

      &:focus + .toggle-helper {
        border-color: map-deep-get($status-color, 'focus', 'main');

        &:after {
          background-color: map-deep-get($status-color, 'focus', 'main');
        }
      }

      &:disabled, &.disabled {
        & + .toggle-helper {
          border-color: map-deep-get($status-color, 'disabled', 'main');

          &:after {
            background-color: map-deep-get($status-color, 'disabled', 'main');
          }
        }
      }
    }
  }

  // switch
  &.toggle-switch {
    .toggle-helper {
      position: relative;
      width: calc(#{$toggle-height} * 1.65);
      flex: 0 0 calc(#{$toggle-height} * 1.65);
      border: solid 2px $input-border-color;
      border-radius: calc(#{$toggle-height} / 2);
      background-color: map-get($gray-color, 9);
      will-change: background-color, border-color;
      transition: background-color $toggle-switch-anim-time $dec-anim,
        border-color $toggle-switch-anim-time $dec-anim;

      &:before {
        content: "";
        position: absolute;
        width: $toggle-height;
        height: $toggle-height;
        border-radius: 50%;
        border: solid 2px $input-border-color;
        background-color: #fff;
        top: -2px;
        left: -2px;
        z-index: 2;
        will-change: border-color, background-color, transform;
        transition: border-color $toggle-switch-anim-time $dec-anim,
          background-color $toggle-switch-anim-time $dec-anim,
          transform $toggle-switch-anim-time $dec-anim;
      }
    }

    // hover & focus
    .toggle-elem:not(:disabled):not(.disabled) {
      & + .toggle-helper {
        cursor: pointer;
      }

      &:not(:checked) {
        & + .toggle-helper:hover {
          background-color: map-get($gray-color, 9);

          &:before {
            background-color: map-get($gray-color, 4);
          }
        }
      }

      &:focus {
        & + .toggle-helper:before {
          border-color: map-deep-get($status-color, 'focus', 'main');
        }
      }
    }

    // disabled
    &.disabled .toggle-elem, .toggle-elem:disabled, .toggle-elem.disabled {
      & + .toggle-helper {
        cursor: default;
        border-color: map-deep-get($status-color, 'disabled', 'main');

        &:before {
          border-color: map-deep-get($status-color, 'disabled', 'main');
        }

        & + label {
          color: map-deep-get($status-color, 'disabled', 'text');
        }
      }
    }

    // checked
    .toggle-elem:checked {
      & + .toggle-helper {
        border-color: map-deep-get($main-color, 'success', 'main');
        background-color: map-deep-get($main-color, 'success', 'main');

        &:before {
          border-color: map-deep-get($main-color, 'success', 'main');
          transform: translateX(calc((#{$toggle-height} * 1.65) - #{$toggle-height}));
        }
      }

      &:focus + .toggle-helper {
        &:before {
          border-color: map-deep-get($status-color, 'focus', 'main');
        }
      }
    }

    &.disabled .toggle-elem, .toggle-elem:disabled, .toggle-elem.disabled {
      &:checked + .toggle-helper {
        opacity: .5;
      }
    }
  }
}
