<h1>Guideline</h1>
<small class="mr-2">Select Page </small>
<div class="dropdown d-inline-block guideline-link-menu">
  <button class="btn btn-secondary btn-sm dropdown-toggle"
    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ _currentRoute }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a *ngFor="let menu of guidelineLinkList"
      (click)="navigate(menu)" class="dropdown-item" 
      [ngClass]="{ 'guideline-link-active': menu.url === _currentRouteUrl }">
      {{ menu.text }}
    </a>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
