<h3>Typography</h3>
<p class="mt-4">
  I need a clear-look and modern shape but not too modern font for heading text so I used <strong>Questrial</strong> with <strong>font-weight: 600</strong> for this.
</p>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<hr />
<p>
  For normal text, paragraph, content and element, I obviously need something that is very clear and easy to read too and <strong>Roboto</strong> answers all my questions.
</p>

<h5 class="mt-4"><u>Normal Paragraph</u></h5>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<h5 class="mt-4"><u>Small Text</u></h5>
<small>Small text with &lt;small&gt; tag of Bootstrap</small>

<h5 class="mt-4"><u>Bootstrap's Styles</u></h5>
<p>
  This typography tiny custom style also works well with original Bootstrap typography style. See <a href="http://getbootstrap.com/docs/4.0/content/typography/" target="_blank">Bootstrap Typography</a> for the reference.
</p>

<h6 class="mt-4 text-muted">Custom Header</h6>
<h3>
  Fancy display heading
  <small class="text-muted">With faded secondary text</small>
</h3>

<h6 class="mt-5 text-muted">Display Heading</h6>
<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>

<h6 class="mt-5 text-muted">Lead Header</h6>
<p class="lead">
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>

<h6 class="mt-5 text-muted">Inline Text Element</h6>
<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>

<p class="mt-5">
  And many more for the typography, see <a href="http://getbootstrap.com/docs/4.0/content/typography/" target="_blank">Bootstrap 4 official documentation</a> for the reference.
</p>