<div class="snack-bar {{ _type }}" *ngIf="_message" [ngClass]="{ 'displayed': _show }">
	<div class="message">
		<i class="material-icons type-icon" *ngIf="_type === 'success'">done</i>
		<i class="material-icons type-icon" *ngIf="_type === 'error'">clear</i>
		<i class="material-icons type-icon" *ngIf="_type === 'warning'">warning</i>
		{{ _message | translate }}
	</div>
	<div class="close-btn" (click)="close()"><i class="material-icons">clear</i></div>
</div>