<h3>Modal</h3>
<p>
  In order to make modal display properly on the screen, the backdrop and the modal element should be placed at the root level of document body so it can float over other elements. But since it's Angular and you might have some of your modal template inside the component which is inside the app root element, I recommend you to make use of an awesome module called <a href="https://valor-software.com/ngx-bootstrap/" target="_blank">ngx-bootstrap</a> that come with a lot of Angular modules which is ready to use.
</p>
<p>
  In this case, I used <strong>ModalModule</strong> to handle the problem I mentioned above. You can create a common component and place it in a modal and display it properly. What I'm showing you here is only a custom look and feel, please learn more about the <strong>ngx-bootstrap</strong> for further usage guide.
</p>

<div class="row">
  <div class="col col-sm-12 col-md-10 col-lg-6">
    <button type="button" class="btn btn-primary" (click)="openFirstModal(template)">Create template modal</button>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Oh, hello!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Glad to see you open this dialog! I hope my components will be useful for your app.
      </div>
    </ng-template>
  </div>
</div>

<p class="mt-4">
  I personally set <strong>backdrop</strong> option to false because I actually don't need it. I just made a little change of the style for the lower layer of modal element and it just work like a backdrop. Besides, it's a little bit more faster when closing the modal.
</p>

<h4 class="heading-text mt-5">Centered Modal</h4>
<p>
  The modal can be aligned to the center of the screen as in a Bootstrap doc, you just have to pass the class 'modal-dialog-centered' to an option name <i>class</i> for the ngx-bootstrap dialog options (see <a href="https://valor-software.com/ngx-bootstrap/#/modals#modal-options" target="_blank">ngx-bootstrap doc</a> for more detail).
</p>
<div class="row">
  <div class="col col-sm-12 col-md-10 col-lg-6">
    <button type="button" class="btn btn-primary" (click)="openCenteredModal(centeredModalTemplate)">Open centered modal</button>

    <ng-template #centeredModalTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Oh, hello!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="centeredModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hey! The dialog is now centered of your screen!
      </div>
    </ng-template>
  </div>
</div>

<h4 class="heading-text mt-5">Expanded and Full Screen Modal</h4>
<p>
  I also added some custom class for modal to make it expandable and fit the screen. Same as above, if you pass a class name 'modal-dialog-expanded', you'll get a modal with some margin. But if you pass a class 'modal-dialog-full-screen', you'll a full-screen dialog instead.
</p>
<div class="row">
  <div class="col col-sm-12 col-md-10 col-lg-6">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="expandedModalOption1" value="expanded" [checked]="expandedMode === 'expanded'"
        (change)="expandedMode = 'expanded'">
      <label class="form-check-label" for="expandedModalOption1">
        Expanded
      </label>
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" type="radio" name="exampleRadios" id="expandedModalOption2" value="full-screen" [checked]="expandedMode === 'full-screen'"
        (change)="expandedMode = 'full-screen'">
      <label class="form-check-label" for="expandedModalOption2">
        Full Screen
      </label>
    </div>

    <div class="mt-4">
      <button type="button" class="btn btn-primary" (click)="openFullscreenModal(fsModalTemplate)">Open expanded modal</button>

      <ng-template #fsModalTemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Expanded dialog!</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="fsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Hey! The dialog is now centered of your screen!
        </div>
      </ng-template>
    </div>
  </div>
</div>
