$DEFAULT-SPINNER-SHADOW: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

$spinner-default-options: (
  size: 64px,
  bg-color: false,
  box-padding: 8px,
  shadow: false,
  spinner-margin: 10px 20px,
  stroke-width: 3px,
  white-tone: false
);

@mixin spinner-prop($option: $spinner-default-options) {
	.spinner {
		margin: map-get($option, 'margin');
		text-align: center;
		display: inline-block;
	}

  .spinner svg {
    @if (map-get($option, 'bg-color')) {
      background-color: map-get($option, 'bg-color');
    }
    @if (map-get($option, 'shadow')) {
      box-shadow: map-get($option, 'shadow');
    }

    border-radius: 50%;
    padding: map-get($option, 'box-padding');
  }

  .qp-circular-loader {
		width: map-get($option, 'size');
		/* 2*RADIUS + STROKEWIDTH */

		height: map-get($option, 'size');
		/* 2*RADIUS + STROKEWIDTH */

		stroke-width: map-get($option, 'stroke-width');
	}

	.qp-circular-loader-path {
		stroke-dasharray: 58.9;
		/* 2*RADIUS*PI * ARCSIZE/360 */

		stroke-dashoffset: 58.9;
		/* 2*RADIUS*PI * ARCSIZE/360 */
		/* hides things initially */
	}
	/* SVG elements seem to have a different default origin */

	.qp-circular-loader,
	.qp-circular-loader * {
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	/* Rotating the whole thing */

	.qp-circular-loader {
		-webkit-animation-name: rotate;
		animation-name: rotate;
		-webkit-animation-duration: 1568.63ms;
		animation-duration: 1568.63ms;
		/* 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */

		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	/* Filling and unfilling the arc */
	.qp-circular-loader-path {

    @if (map-get($option, 'white-tone')) {
      -webkit-animation-name: fillunfill, rot, spinner-white;
      animation-name: fillunfill, rot, spinner-white;
    } @else {
      -webkit-animation-name: fillunfill, rot, colors;
      animation-name: fillunfill, rot, colors;
    }

		-webkit-animation-duration: 1333ms, 5332ms, 5332ms;
		animation-duration: 1333ms, 5332ms, 5332ms;
		/* ARCTIME, 4*ARCTIME, 4*ARCTIME */

		-webkit-animation-iteration-count: infinite, infinite, infinite;
		animation-iteration-count: infinite, infinite, infinite;
		-webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
		animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
		-webkit-animation-play-state: running, running, running;
		animation-play-state: running, running, running;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
  }


}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fillunfill {
	from {
		stroke-dashoffset: 58.8
		/* 2*RADIUS*PI * ARCSIZE/360 - 0.1 */
		/* 0.1 a bit of a magic constant here */
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -58.4
		/* -(2*RADIUS*PI * ARCSIZE/360 - 0.5) */
		/* 0.5 a bit of a magic constant here */
	}
}

@keyframes rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes colors {
  0% {
    stroke: #754fa0;
  }
  20% {
    stroke: #09b7bf;
  }
  40% {
    stroke: #90d36b;
  }
  60% {
    stroke: #f2d40d;
  }
  80% {
    stroke: #fcb12b;
  }
  100% {
    stroke: #ed1b72;
  }
}

@keyframes spinner-white {
  0% {
    stroke: rgba(255,255,255,0);
  }
  10% {
    stroke: rgba(255,255,255,.2);
  }
  20% {
    stroke: rgba(255,255,255,.4);
  }
  30% {
    stroke: rgba(255,255,255,.6);
  }
  40% {
    stroke: rgba(255,255,255,.8);
  }
  50% {
    stroke: rgba(255,255,255,1);
  }
  60% {
    stroke: rgba(255,255,255,.8);
  }
  70% {
    stroke: rgba(255,255,255,.6);
  }
  80% {
    stroke: rgba(255,255,255,.4);
  }
  90% {
    stroke: rgba(255,255,255,.8);
  }
  100% {
    stroke: rgba(255,255,255,0);
  }
}


$app-loader-spinner-options: (
  size: 60px,
  bg-color: false,
  box-padding: 5px,
  shadow: false,
  spinner-margin: 10px,
  stroke-width: 3px,
  white-tone: true
);

app-loader {
  position: fixed;
  display: block;
  z-index: 10001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);

  .loader-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    @include spinner-prop($app-loader-spinner-options);
  }
}
