@import "../includes";

$router-outlet-start-pos-X: 50px;
$router-outlet-anim-time: 225ms;

@mixin container-hide-xs() {
  transform: translateX($router-outlet-start-pos-X);
}

@mixin container-hide-lg() {
  transform: translateX($router-outlet-start-pos-X + $sidenav-width);
}

@keyframes sidenav-expand {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes sidenav-collapse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes router-outlet-enter-xs {
  0% {
    @include container-hide-xs();
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes router-outlet-enter-lg {
  0% {
    @include container-hide-lg();
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

$sidenav-sm-anim-time: 195ms;
$sidenav-md-anim-time: 225ms;

html, body, app-root, main {
  height: 100%;
}
app-root {
  position: fixed;
  display: block;
  width: 100%;
}

nav, main {
  @include clearfix();
}

sidenav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 10;

  nav {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: $sidenav-width;
    height: 100%;
    will-change: transform;
    transform: translate3d(-100%, 0, 0);
  }

  .overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
  }

  &.expanded {
    width: 100%;

    nav {
      animation: sidenav-expand $sidenav-sm-anim-time $dec-anim .05s forwards;
    }
    .floating-sidenav-toggle {
      transform: translate3d(calc((100% + 15px) * -1), 0, 0);
    }
    .overlay {
      display: block;
    }
  }
  &.closing {
    nav {
      transform: translate3d(0, 0, 0);
      animation: sidenav-collapse $sidenav-sm-anim-time $shp-anim forwards;
    }
  }
}

main {
  width: 100%;
  overflow-x: hidden;

  & > router-outlet {
    & + * {
      display: block;
      padding: 16px;
      will-change: transform, opacity;
      opacity: 0;

      @include container-hide-xs();
      animation: router-outlet-enter-xs $router-outlet-anim-time $dec-anim forwards;

      router-outlet {
        & + * {
          display: block;
          will-change: transform, opacity;
          opacity: 0;
    
          @include container-hide-xs();
          animation: router-outlet-enter-xs $router-outlet-anim-time $dec-anim .1s forwards;
        }
      }
    }
  }
}

.floating-sidenav-toggle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  will-change: transform;
  transition: transform 195ms $dec-anim;
  transform: translate3d(0, 0, 0);
  z-index: 2;
  @include clearfix();

  i {
    display: block;
    width: $floating-sidenav-btn-size;
    height: $floating-sidenav-btn-size;
    text-align: center;
    line-height: $floating-sidenav-btn-size;
    float: left;
  }
}

@include media(">=md") {
  sidenav {
    &.expanded {
      nav {
        animation: sidenav-expand $sidenav-md-anim-time $dec-anim .05s forwards;
      }
    }
    &.closing {
      nav {
        animation: sidenav-collapse $sidenav-md-anim-time $shp-anim forwards;
      }
    }
  }
}

@include media(">=lg") {
  app-root {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  main {
    flex: 1 0 100%;
    width: 100%;
    transform-origin: 0 0;

    & > router-outlet + * {
      @include container-hide-lg();
      animation: router-outlet-enter-lg $router-outlet-anim-time $dec-anim forwards;
    }
  }

  sidenav {
    position: initial;
    width: $sidenav-width;
    top: auto;
    left: auto;

    nav {
      flex: 0 0 $sidenav-width;
      position: initial;
      top: auto;
      left: auto;
      width: $sidenav-width;
      height: 100%;
      transform: translate3d(0, 0, 0);
      transition: none;
    }

    & + main {
      flex: 1 0 calc(100% - #{$sidenav-width});
      width: calc(100% - #{$sidenav-width});

      will-change: initial;
      transform-origin: initial;
      transform: translate3d(0, 0, 0);
      transition: none;
    }

    &.expanded, &.closing {
      nav {
        transform: translate3d(0, 0, 0);
      }

      .overlay {
        display: none;
      }
    }

    // &.collapsed {
    //   nav {
    //     transform: translate3d(calc((#{$sidenav-width} - #{$sidenav-collapse-width}) * -1), 0, 0);
    //   }

    //   & + main {
    //     width: calc(100vw - #{$sidenav-collapse-width});
    //     transform: translate3d($sidenav-collapse-width, 0, 0);
    //   }
    // }
  }

  .floating-sidenav-toggle {
    display: none;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    sidenav {
      & + main {
        flex: none;
        transform: translate3d($sidenav-width, 0, 0);
      }
    }
  }
}
