@import "../includes";

.sidenav-header {
  @include clearfix();
  overflow: hidden;
}

$expanded-toggle-width: 44px;


@include media(">=lg") {
  .collapse-sidenav-toggle {
    @include clearfix();
    width: $sidenav-collapse-width;
    will-change: transform, background-color;
    transition: background-color 225ms $dec-anim;
    transform: translateX(calc(#{$sidenav-collapse-width} - #{$expanded-toggle-width}));
  
    i {
      width: $sidenav-header-height;
      height: $sidenav-header-height;
      line-height: $sidenav-header-height;
      float: left;
      text-align: center;
      transform-origin: 50% 50%;
      will-change: transform, width;
      transition: transform 190ms $dec-anim;
    }
  }

  sidenav {
    &.collapsed {
      .collapse-sidenav-toggle {
        transform: translateX(0);

        i {
          width: $sidenav-collapse-width;
          transform: scaleX(-1);
        }
      }
    }
  }
}