<h1>Welcome to VS Ui</h1>
<hr />
<h3>What is this?</h3>
<p>
  This the UI kit that built on top of Angular (the latest version) which created from Angular CLI and the Bootstrap 4. It's mainly a Bootstrap theme but I intended to create more UI components and tried to make this kit to be an Angular UI framework.
</p>

<h3 class="mt-4">This is still under development</h3>
<p>
  It's not done yet and still got a lot of things to do. But I just wanna try to deploy an Angular project to Firebase so I just built some of current progress and put it in the Firebase hosting. I'll keep adding more and more UI components and will release once the prototype version is done.
</p>
