<div class="row">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="exampleCheck2" disabled checked>
        <label class="form-check-label" for="exampleCheck2">Can't select</label>
      </div>
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="exampleCheck3" disabled>
        <label class="form-check-label" for="exampleCheck3">Can't select this too</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<h4 class="heading-text mt-5">Form controls</h4>
<div class="row mt-2">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>
</div>

<h4 class="heading-text mt-5">Sizing</h4>
<div class="row mt-2">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
    <input class="form-control mt-2" type="text" placeholder="Default input">
    <input class="form-control form-control-sm mt-2" type="text" placeholder=".form-control-sm">
  </div>
</div>

<h4 class="heading-text mt-5">Readonly</h4>
<div class="row mt-2">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
  </div>
</div>

<h4 class="heading-text mt-5">Readonly plain text</h4>
<div class="row mt-2">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <form>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
    </form>
  </div>
</div>

<h4 class="heading-text mt-5">Radiobuttons</h4>
<div class="row mt-2">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Default radio
      </label>
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Second default radio
      </label>
    </div>
    <div class="form-check disabled mt-2">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
      <label class="form-check-label" for="exampleRadios3">
        Disabled radio
      </label>
    </div>
    <div class="form-check disabled mt-2">
      <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios4" value="option4" disabled checked>
      <label class="form-check-label" for="exampleRadios4">
        Disabled checked radio
      </label>
    </div>
  </div>
</div>

<h4 class="heading-text mt-5">Switches</h4>
<div class="row mt-2">
  <div class="col col-sm-12 col-md-10 col-lg-8">
    <div class="form-check" [toggleType]="'switch'">
      <input type="checkbox" class="form-check-input" id="exampleSwitch1">
      <label class="form-check-label" for="exampleSwitch1">Check me out</label>
    </div>
    <div class="form-check mt-2" [toggleType]="'switch'">
      <input type="checkbox" class="form-check-input" id="exampleSwitch2" disabled>
      <label class="form-check-label" for="exampleSwitch2">I've been disabled</label>
    </div>
    <div class="form-check mt-2" [toggleType]="'switch'">
      <input type="checkbox" class="form-check-input" id="exampleSwitch3" checked disabled>
      <label class="form-check-label" for="exampleSwitch3">I've been disabled but also checked</label>
    </div>
  </div>
</div>
